In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
data = pd.read_csv('HW4.csv')
data = data.iloc[:, 1:]

In [11]:
data.head()

   x         y  z
0  0  1.490090  0
1  1  5.170279  1
2  1  7.434170  1
3  0  1.531446  0
4  0  0.935765  0

In [15]:
print('E[Y | X == 1] = ', str(np.mean(data[data['x'] == 1]['y'])))

E[Y | X == 0] =  0.6409639797240381
E[Y | X == 1] =  4.436555490118973

In [27]:
z1 = len(data[(data['x'] == 0) & (data['z'] == 1)])/len(data[data['x'] == 0])

In [28]:
z0 = len(data[(data['x'] == 0) & (data['z'] == 0)])/len(data[data['x'] == 0])

In [34]:
y_z0 = np.mean(data[(data['x'] == 1) & (data['z'] == 0)]['y'])

In [35]:
y_z1 = np.mean(data[(data['x'] == 1) & (data['z'] == 1)]['y'])

In [38]:
(4.436555490118973) - ((y_z1 * z1) + (y_z0 * z0))

2.711351862549141